@{
	ViewBag.Title = "About Bundle Transformer";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
	<p>
		Bundle Transformer - a modular extension for <a href="http://aspnetoptimization.codeplex.com/" target="_blank">System.Web.Optimization</a> (also known as the Microsoft ASP.NET Web Optimization Framework).
		Classes <code>StyleTransformer</code> and <code>ScriptTransformer</code>, included in the core of Bundle Transformer and implement interface <code>IBundleTransform</code>.
		They are intended to replace the standard classes <code>CssMinify</code> and <code>JsMinify</code>.
	</p>
	<p>
		The main differences of <code>StyleTransformer</code> and <code>ScriptTransformer</code> classes from a standard implementations: ability to exclude unnecessary assets when adding assets from a directory, does not produce the re-minification of pre-minified assets, support automatic transformation of relative paths to absolute in CSS-code (by using <code>UrlRewritingCssPostProcessor</code>), etc.
		These classes do not produce the minification of code in runtime, but this feature can be added by installing of minifier-modules (now available modules based on <a href="http://ajaxmin.codeplex.com/" target="_blank">Microsoft Ajax Minifier</a>, <a href="http://github.com/PureKrome/YUICompressor.NET" target="_blank">YUI Compressor for .NET</a>, <a href="https://developers.google.com/closure/compiler/" target="_blank">Google Closure Compiler</a>, <a href="http://github.com/douglascrockford/JSMin" target="_blank">Douglas Crockford's JSMin</a>, <a href="http://dean.edwards.name/packer/" target="_blank">Dean Edwards' Packer</a>, <a href="http://github.com/mishoo/UglifyJS2" target="_blank">Mihai Bazon's UglifyJS</a>, <a href="http://github.com/css/csso" target="_blank">Sergey Kryzhanovsky's CSSO</a> (CSS Optimizer), <a href="http://webgrease.codeplex.com/" target="_blank">WebGrease</a>  and <a href="http://github.com/GoalSmashers/clean-css" target="_blank">Clean-css</a>).
		In addition, you can also install translator-modules that implement the translation of code on intermediate languages (<a href="http://lesscss.org/" target="_blank">LESS</a>, <a href="http://sass-lang.com/" target="_blank">Sass</a>, <a href="http://sass-lang.com/" target="_blank">SCSS</a>, <a href="http://coffeescript.org/" target="_blank">CoffeeScript</a>, <a href="http://www.typescriptlang.org/" target="_blank">TypeScript</a>, <a href="http://mustache.github.io/" target="_blank">Mustache</a> (by using <a href="http://twitter.github.io/hogan.js/" target="_blank">Hogan</a>) and <a href="http://handlebarsjs.com/" target="_blank">Handlebars</a>).
		Apart from this, in the Bundle Transformer there is a third type of modules - postprocessors.
		Postprocessors runs after translators and before minifiers.
		Now available following postprocessors: URL rewriting CSS-postprocessor (included in core) and postprocessor-module based on the <a href="http://github.com/ai/autoprefixer" target="_blank">Andrey Sitnik's Autoprefixer</a>.
	</p>
	<p>
		This extension will help your web applications successfully pass a most part of the tests in <a href="http://developer.yahoo.com/yslow/" target="_blank">YSlow</a>.
	</p>

	<h2>NuGet Packages</h2>
	<h3>Core</h3>
	<ul>
		<li><a href="http://nuget.org/packages/BundleTransformer.Core" target="_blank">Bundle Transformer: Core</a></li>
	</ul>

	<h3>Translators</h3>
	<ul>
		<li><a href="http://nuget.org/packages/BundleTransformer.Less" target="_blank">Bundle Transformer: LESS</a></li>
		<li><a href="http://nuget.org/packages/BundleTransformer.SassAndScss" target="_blank">Bundle Transformer: Sass and SCSS</a></li>
		<li><a href="http://nuget.org/packages/BundleTransformer.CoffeeScript" target="_blank">Bundle Transformer: CoffeeScript</a></li>
		<li><a href="http://nuget.org/packages/BundleTransformer.TypeScript" target="_blank">Bundle Transformer: TypeScript</a></li>
		<li><a href="http://nuget.org/packages/BundleTransformer.Hogan" target="_blank">Bundle Transformer: Hogan</a></li>
		<li><a href="http://nuget.org/packages/BundleTransformer.Handlebars" target="_blank">Bundle Transformer: Handlebars</a></li>
	</ul>
	
	<h3>Postprocessors</h3>
	<ul>
		<li><a href="http://nuget.org/packages/BundleTransformer.Autoprefixer" target="_blank">Bundle Transformer: Autoprefixer</a></li>
	</ul>

	<h3>Minifiers</h3>
	<ul>
		<li><a href="http://nuget.org/packages/BundleTransformer.MicrosoftAjax" target="_blank">Bundle Transformer: Microsoft Ajax</a></li>
		<li><a href="http://nuget.org/packages/BundleTransformer.Yui" target="_blank">Bundle Transformer: YUI</a></li>
		<li><a href="http://nuget.org/packages/BundleTransformer.Closure" target="_blank">Bundle Transformer: Closure</a></li>
		<li><a href="http://nuget.org/packages/BundleTransformer.JsMin" target="_blank">Bundle Transformer: JSMin</a></li>
		<li><a href="http://nuget.org/packages/BundleTransformer.Packer" target="_blank">Bundle Transformer: Packer</a></li>
		<li><a href="http://nuget.org/packages/BundleTransformer.UglifyJs" target="_blank">Bundle Transformer: UglifyJS</a></li>
		<li><a href="http://nuget.org/packages/BundleTransformer.Csso" target="_blank">Bundle Transformer: CSSO</a></li>
		<li><a href="http://nuget.org/packages/BundleTransformer.WG" target="_blank">Bundle Transformer: WebGrease</a></li>
		<li><a href="http://nuget.org/packages/BundleTransformer.CleanCss" target="_blank">Bundle Transformer: Clean-css</a></li>
	</ul>

	<h4>Unofficial modules</h4>
	<ul>
		<li><a href="http://nuget.org/packages/BundleTransformer.Autoprefixer.Unofficial" target="_blank">Bundle Transformer: Autoprefixer</a> by <a href="http://github.com/digitalcreations" target="_blank">Digital Creations AS</a></li>
	</ul>
</article>