@{
    ViewBag.Title = "Contacts";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Andrey Taritsyn</h3>
    </header>
    <p>
        <span class="label">Website:</span>
        <span><a href="http://www.taritsyn.ru/" target="_blank">www.taritsyn.ru</a></span>
    </p>
    <p>
        <span class="label">Twitter:</span>
        <span><a href="http://twitter.com/andrey_taritsyn" target="_blank">@@andrey_taritsyn</a></span>
    </p>
    <p>
        <span class="label">Email:</span>
        <span><a href="mailto:taritsyn@gmail.com">taritsyn@gmail.com</a></span>
    </p>
</section>