$alt-bg-color: #CE4DD6;

.translators #scss
{
	background-color: $alt-bg-color;
	border-color: $alt-bg-color;
}

.plug
{
	display: inline;
	background: transparent url("$plug.png") no-repeat !important;
}