@alt-bg-color: #143352;

.translators #less
{
	background-color: @alt-bg-color;
}

.headphone
{
	display: inline;
	background: transparent url(../../images/icons/headphone.png) no-repeat !important;
}

@import 'subfolder/TestLessSubImport.less';