{
  "compact": false,
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "23",
          "firefox": "21",
          "ie": "10"
        },
        "useBuiltIns": false
      }
    ]
  ]
}
