.translators
{
	margin-bottom: 1.0em;
	overflow: hidden;
}

.translators DIV
{
	display: none;
	margin: 0 5px 0 0;
}

.translators DIV A,
.translators DIV A:link,
.translators DIV A:visited,
.translators DIV A:hover,
.translators DIV A:active
{
	display: block;
	background-color: transparent;
	color: #fff;
	text-decoration: none;
}

.translators #coffee {
  float: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  background-color: #AAA;
  font-weight: bold;
  border: 1px dashed #AAA;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.translators #coffee.enabled
{
	background-color: #fff;
	border: 1px dashed #888;
}

.translators #coffee.enabled A,
.translators #coffee.enabled A:link,
.translators #coffee.enabled A:visited,
.translators #coffee.enabled A:hover,
.translators #coffee.enabled A:active
{
	color: #0f0f1e;
}

.translators #ts {
	float: left;
	display: none;
	padding: 0.2em 0.5em 0.2em 0.5em;
	border : 1px solid #808080;
	background-color: #ffffff;
	font-weight: bold;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.translators #ts A,
.translators #ts A:link,
.translators #ts A:visited,
.translators #ts A:hover,
.translators #ts A:active
{
	color: #000;
}

.translators #hogan {
	float: left;
	display: none;
	padding: 0.2em 0.5em 0.2em 0.5em;
	border : 1px solid #dfd52e;
	background-color: #dfd52e;
	font-weight: bold;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.translators #hogan A,
.translators #hogan A:link,
.translators #hogan A:visited,
.translators #hogan A:hover,
.translators #hogan A:active
{
	color: black;
}

.translators #handlebars {
	float: left;
	display: none;
	padding: 0.2em 0.5em 0.2em 0.5em;
	border : 1px solid #f38709;
	background-color: #f38709;
	font-weight: bold;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.translators #handlebars A,
.translators #handlebars A:link,
.translators #handlebars A:visited,
.translators #handlebars A:hover,
.translators #handlebars A:active
{
	color: white;
}