<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Declaration of Bundle Transformer configuration section group -->
    <sectionGroup name="bundleTransformer">
      <section name="core" 
        type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
      <section name="less"
        type="BundleTransformer.Less.Configuration.LessSettings, BundleTransformer.Less" />
      <section name="sassAndScss"
        type="BundleTransformer.SassAndScss.Configuration.SassAndScssSettings, BundleTransformer.SassAndScss" />
      <section name="coffeeScript"
        type="BundleTransformer.CoffeeScript.Configuration.CoffeeScriptSettings, BundleTransformer.CoffeeScript" />
      <section name="typeScript"
        type="BundleTransformer.TypeScript.Configuration.TypeScriptSettings, BundleTransformer.TypeScript" />
      <section name="hogan"
        type="BundleTransformer.Hogan.Configuration.HoganSettings, BundleTransformer.Hogan" />
      <section name="handlebars"
        type="BundleTransformer.Handlebars.Configuration.HandlebarsSettings, BundleTransformer.Handlebars" />
      <section name="autoprefixer"
        type="BundleTransformer.Autoprefixer.Configuration.AutoprefixerSettings, BundleTransformer.Autoprefixer" />
      <section name="microsoftAjax"
        type="BundleTransformer.MicrosoftAjax.Configuration.MicrosoftAjaxSettings, BundleTransformer.MicrosoftAjax" />
      <section name="yui" 
        type="BundleTransformer.Yui.Configuration.YuiSettings, BundleTransformer.Yui" />
      <section name="closure"
        type="BundleTransformer.Closure.Configuration.ClosureSettings, BundleTransformer.Closure" />
      <section name="uglify"
        type="BundleTransformer.UglifyJs.Configuration.UglifySettings, BundleTransformer.UglifyJs" />
      <section name="packer"
        type="BundleTransformer.Packer.Configuration.PackerSettings, BundleTransformer.Packer" />
      <section name="csso"
        type="BundleTransformer.Csso.Configuration.CssoSettings, BundleTransformer.Csso" />
      <section name="webGrease"
        type="BundleTransformer.WG.Configuration.WgSettings, BundleTransformer.WG" />
      <section name="clean"
        type="BundleTransformer.CleanCss.Configuration.CleanSettings, BundleTransformer.CleanCss" />
    </sectionGroup>
    <!-- /Declaration of Bundle Transformer configuration section group -->
    <sectionGroup name="jsEngineSwitcher">
      <section name="core"
        type="JavaScriptEngineSwitcher.Core.Configuration.CoreConfiguration, JavaScriptEngineSwitcher.Core" />
      <section name="msie"
        type="JavaScriptEngineSwitcher.Msie.Configuration.MsieConfiguration, JavaScriptEngineSwitcher.Msie" />
    </sectionGroup>
  </configSections>
  <!-- Bundle Transformer configuration settings -->
  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
    <core enableTracing="true"
      jsFilesWithMicrosoftStyleExtensions="MicrosoftAjax.js,MicrosoftMvcAjax.js,MicrosoftMvcValidation.js,knockout-$version$.js">
      <css defaultPostProcessors="UrlRewritingCssPostProcessor,AutoprefixCssPostProcessor"
        defaultMinifier="MicrosoftAjaxCssMinifier" usePreMinifiedFiles="true"
        combineFilesBeforeMinification="false">
        <translators>
          <add name="NullTranslator"
            type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" 
            enabled="false" />
          <add name="LessTranslator" 
            type="BundleTransformer.Less.Translators.LessTranslator, BundleTransformer.Less"
            enabled="true" />
          <add name="SassAndScssTranslator"
            type="BundleTransformer.SassAndScss.Translators.SassAndScssTranslator, BundleTransformer.SassAndScss" 
            enabled="true" />
        </translators>
        <postProcessors>
          <add name="UrlRewritingCssPostProcessor"
            type="BundleTransformer.Core.PostProcessors.UrlRewritingCssPostProcessor, BundleTransformer.Core"
            useInDebugMode="false" />
          <add name="AutoprefixCssPostProcessor"
            type="BundleTransformer.Autoprefixer.PostProcessors.AutoprefixCssPostProcessor, BundleTransformer.Autoprefixer"
            useInDebugMode="true" />
        </postProcessors>
        <minifiers>
          <add name="NullMinifier" 
            type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
          <add name="MicrosoftAjaxCssMinifier"
            type="BundleTransformer.MicrosoftAjax.Minifiers.MicrosoftAjaxCssMinifier, BundleTransformer.MicrosoftAjax" />
          <add name="YuiCssMinifier" 
            type="BundleTransformer.Yui.Minifiers.YuiCssMinifier, BundleTransformer.Yui" />
          <add name="KryzhanovskyCssMinifier" 
            type="BundleTransformer.Csso.Minifiers.KryzhanovskyCssMinifier, BundleTransformer.Csso" />
          <add name="WgCssMinifier" 
            type="BundleTransformer.WG.Minifiers.WgCssMinifier, BundleTransformer.WG" />
          <add name="CleanCssMinifier"
            type="BundleTransformer.CleanCss.Minifiers.CleanCssMinifier, BundleTransformer.CleanCss" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".css" assetTypeCode="Css" />
          <add fileExtension=".less" assetTypeCode="Less" />
          <add fileExtension=".sass" assetTypeCode="Sass" />
          <add fileExtension=".scss" assetTypeCode="Scss" />
        </fileExtensions>
      </css>
      <js defaultPostProcessors=""
        defaultMinifier="MicrosoftAjaxJsMinifier" usePreMinifiedFiles="true"
        combineFilesBeforeMinification="false">
        <translators>
          <add name="NullTranslator"
            type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" 
            enabled="false" />
          <add name="CoffeeScriptTranslator" 
            type="BundleTransformer.CoffeeScript.Translators.CoffeeScriptTranslator, BundleTransformer.CoffeeScript" 
            enabled="true" />
          <add name="TypeScriptTranslator" 
            type="BundleTransformer.TypeScript.Translators.TypeScriptTranslator, BundleTransformer.TypeScript" 
            enabled="true" />
          <add name="HoganTranslator"
            type="BundleTransformer.Hogan.Translators.HoganTranslator, BundleTransformer.Hogan"
            enabled="true" />
          <add name="HandlebarsTranslator"
            type="BundleTransformer.Handlebars.Translators.HandlebarsTranslator, BundleTransformer.Handlebars"
            enabled="true" />
        </translators>
        <minifiers>
          <add name="NullMinifier"
            type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
          <add name="MicrosoftAjaxJsMinifier"
            type="BundleTransformer.MicrosoftAjax.Minifiers.MicrosoftAjaxJsMinifier, BundleTransformer.MicrosoftAjax" />
          <add name="YuiJsMinifier" 
            type="BundleTransformer.Yui.Minifiers.YuiJsMinifier, BundleTransformer.Yui" />
          <add name="ClosureRemoteJsMinifier" 
            type="BundleTransformer.Closure.Minifiers.ClosureRemoteJsMinifier, BundleTransformer.Closure" />
          <add name="ClosureLocalJsMinifier"
            type="BundleTransformer.Closure.Minifiers.ClosureLocalJsMinifier, BundleTransformer.Closure" />
          <add name="CrockfordJsMinifier"
            type="BundleTransformer.JsMin.Minifiers.CrockfordJsMinifier, BundleTransformer.JsMin" />
          <add name="EdwardsJsMinifier"
            type="BundleTransformer.Packer.Minifiers.EdwardsJsMinifier, BundleTransformer.Packer" />
          <add name="UglifyJsMinifier" 
            type="BundleTransformer.UglifyJs.Minifiers.UglifyJsMinifier, BundleTransformer.UglifyJs" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".js" assetTypeCode="JavaScript" />
          <add fileExtension=".coffee" assetTypeCode="CoffeeScript" />
          <add fileExtension=".litcoffee" assetTypeCode="LiterateCoffeeScript" />
          <add fileExtension=".coffee.md" assetTypeCode="LiterateCoffeeScript" />
          <add fileExtension=".ts" assetTypeCode="TypeScript" />
          <add fileExtension=".mustache" assetTypeCode="Mustache" />
          <add fileExtension=".handlebars" assetTypeCode="Handlebars" />
          <add fileExtension=".hbs" assetTypeCode="Handlebars" />
        </fileExtensions>
      </js>
      <assetHandler disableServerCache="false" serverCacheDurationInMinutes="15"
        disableClientCache="false" />
    </core>
    <less useNativeMinification="false" ieCompat="true"
      strictMath="false" strictUnits="false"
      dumpLineNumbers="None" javascriptEnabled="true"
      globalVariables="" modifyVariables="">
      <jsEngine name="MsieJsEngine" />
    </less>
    <sassAndScss useNativeMinification="false" lineNumbers="false"
      traceSelectors="false" debugInfo="false" />
    <coffeeScript bare="true">
      <jsEngine name="MsieJsEngine" />
    </coffeeScript>
    <typeScript useDefaultLib="true" removeComments="false"
      noImplicitAny="false" codeGenTarget="EcmaScript3">
      <jsEngine name="MsieJsEngine" />
    </typeScript>
    <hogan useNativeMinification="false"
      variable="templates" namespace="" delimiters="">
      <sectionTags>
        <add sectionName="newWindow" openingTagName="_newWindow" closingTagName="newWindow" />
      </sectionTags>
      <jsEngine name="MsieJsEngine" />
    </hogan>
    <handlebars namespace="Handlebars.templates" rootPath=""
      knownHelpers="link" knownHelpersOnly="true" data="false">
      <jsEngine name="MsieJsEngine" />
    </handlebars>
    <autoprefixer cascade="true" safe="false" remove="true">
      <browsers>
        <add conditionalExpression="> 1%" />
        <add conditionalExpression="last 2 versions" />
        <add conditionalExpression="Firefox ESR" />
        <add conditionalExpression="Opera 12.1" />
      </browsers>
      <jsEngine name="V8JsEngine" />
    </autoprefixer>
    <microsoftAjax>
      <css allowEmbeddedAspNetBlocks="false" blocksStartOnSameLine="NewLine"
        ignoreAllErrors="false" ignoreErrorList="" indentSize="4"
        lineBreakThreshold="2147482647" outputMode="SingleLine"
        preprocessorDefineList="" termSemicolons="false"
        colorNames="Strict" commentMode="Important" minifyExpressions="true" 
        removeEmptyBlocks="true" severity="0" />
      <js allowEmbeddedAspNetBlocks="false" blocksStartOnSameLine="NewLine"
        ignoreAllErrors="false" ignoreErrorList="" indentSize="4"
        lineBreakThreshold="2147482647" outputMode="SingleLine"
        preprocessorDefineList="" termSemicolons="false"
        alwaysEscapeNonAscii="false" amdSupport="false"
        collapseToLiteral="true" constStatementsMozilla="false"
        debugLookupList="Debug,$Debug,WAssert,Msn.Debug,Web.Debug"
        errorIfNotInlineSafe="false" evalLiteralExpressions="true"
        evalTreatment="Ignore" ignoreConditionalCompilation="false"
        ignorePreprocessorDefines="false" inlineSafeStrings="true"
        knownGlobalNamesList="" localRenaming="CrunchAll"
        macSafariQuirks="true" manualRenamesProperties="true" 
        noAutoRenameList="$super" preserveFunctionNames="false" 
        preserveImportantComments="true" quoteObjectLiteralProperties="false"
        removeFunctionExpressionNames="true" removeUnneededCode="true"
        renamePairs="" reorderScopeDeclarations="true"
        strictMode="false" stripDebugStatements="true"
        severity="0"/>
    </microsoftAjax>
    <yui>
      <css compressionType="Standard" removeComments="true"
        lineBreakPosition="-1" />
      <js compressionType="Standard" obfuscateJavascript="true"
        preserveAllSemicolons="false" disableOptimizations="false"
        ignoreEval="false" severity="0" lineBreakPosition="-1"
        encoding="UTF8" threadCulture="en-us" />
    </yui>
    <closure>
      <js>
        <remote 
          closureCompilerServiceApiUrl="http://closure-compiler.appspot.com/compile" 
          compilationLevel="Simple" prettyPrint="false" excludeDefaultExterns="false" 
          severity="0" />
        <local 
          javaVirtualMachinePath="C:\Program Files\Java\jre7\bin\java.exe"
          closureCompilerApplicationPath="C:\Projects\BundleTransformer\Binaries\ClosureCompiler\compiler.jar"
          compilationLevel="Simple" prettyPrint="false" 
          languageSpec="EcmaScript3" thirdParty="true"
          processJqueryPrimitives="false" processClosurePrimitives="false"
          severity="0" />
      </js>
    </closure>
    <packer>
      <js shrinkVariables="true" base62Encode="false" />
      <jsEngine name="MsieJsEngine" />
    </packer>
    <uglify>
      <js screwIe8="false" severity="0">
        <parsing strict="false" bareReturns="false" />
        <compression compress="true" sequences="true" propertiesDotNotation="true"
          deadCode="true" dropDebugger="true" unsafe="false"
          conditionals="true" comparisons="true" evaluate="true"
          booleans="true" loops="true" unused="true"
          hoistFunctions="true" keepFunctionArgs="false" hoistVars="false"
          ifReturn="true" joinVars="true" cascade="true"
          globalDefinitions="" pureGetters="false" pureFunctions=""
          dropConsole="false" angular="false" />
        <mangling mangle="true" except="" eval="false"
          sort="false" topLevel="false" />
        <codeGeneration beautify="false" indentLevel="4" indentStart="0"
          quoteKeys="false" spaceColon="true" asciiOnly="false"
          inlineScript="false" width="80" maxLineLength="32000"
          bracketize="false" semicolons="true"
          comments="false" preserveLine="false"
          unescapeRegexps="false" />
      </js>
      <jsEngine name="MsieJsEngine" />
    </uglify>
    <csso>
      <css disableRestructuring="false" />
      <jsEngine name="V8JsEngine" />
    </csso>
    <webGrease>
      <css shouldMinify="true" ejectCharset="true" />
    </webGrease>
    <clean>
      <css advanced="true" aggressiveMerging="true"
        compatibility="Ie7" keepBreaks="false"
        keepSpecialComments="KeepAll"
        roundingPrecision="2" shorthandCompacting="true"
        severity="0" />
      <jsEngine name="V8JsEngine" />
    </clean>
  </bundleTransformer>
  <!-- /Bundle Transformer configuration settings -->
  <jsEngineSwitcher xmlns="http://tempuri.org/JavaScriptEngineSwitcher.Configuration.xsd">
    <core>
      <engines>
        <add name="MsieJsEngine"
          type="JavaScriptEngineSwitcher.Msie.MsieJsEngine, JavaScriptEngineSwitcher.Msie" />
        <add name="V8JsEngine"
          type="JavaScriptEngineSwitcher.V8.V8JsEngine, JavaScriptEngineSwitcher.V8" />
      </engines>
    </core>
    <msie engineMode="Auto" />
  </jsEngineSwitcher>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <!-- Declaration of Bundle Transformer HTTP-handlers -->
      <add name="CssAssetHandler" path="*.css" verb="GET" 
        type="BundleTransformer.Core.HttpHandlers.CssAssetHandler, BundleTransformer.Core" 
        resourceType="File" preCondition="" />
      <add name="JsAssetHandler" path="*.js" verb="GET" 
        type="BundleTransformer.Core.HttpHandlers.JsAssetHandler, BundleTransformer.Core" 
        resourceType="File" preCondition="" />
      <add name="LessAssetHandler" path="*.less" verb="GET" 
        type="BundleTransformer.Less.HttpHandlers.LessAssetHandler, BundleTransformer.Less" 
        resourceType="File" preCondition="" />
      <add name="SassAssetHandler" path="*.sass" verb="GET" 
        type="BundleTransformer.SassAndScss.HttpHandlers.SassAndScssAssetHandler, BundleTransformer.SassAndScss" 
        resourceType="File" preCondition="" />
      <add name="ScssAssetHandler" path="*.scss" verb="GET" 
        type="BundleTransformer.SassAndScss.HttpHandlers.SassAndScssAssetHandler, BundleTransformer.SassAndScss" 
        resourceType="File" preCondition="" />
      <add name="CoffeeScriptAssetHandler" path="*.coffee" verb="GET" 
        type="BundleTransformer.CoffeeScript.HttpHandlers.CoffeeScriptAssetHandler, BundleTransformer.CoffeeScript" 
        resourceType="File" preCondition="" />
      <add name="LiterateCoffeeScriptAssetHandler" path="*.litcoffee" verb="GET"
        type="BundleTransformer.CoffeeScript.HttpHandlers.CoffeeScriptAssetHandler, BundleTransformer.CoffeeScript"
        resourceType="File" preCondition="" />
      <add name="CoffeeScriptMarkdownAssetHandler" path="*.coffee.md" verb="GET" 
        type="BundleTransformer.CoffeeScript.HttpHandlers.CoffeeScriptAssetHandler, BundleTransformer.CoffeeScript"
        resourceType="File" preCondition="" />
      <add name="TypeScriptAssetHandler" path="*.ts" verb="GET" 
        type="BundleTransformer.TypeScript.HttpHandlers.TypeScriptAssetHandler, BundleTransformer.TypeScript" 
        resourceType="File" preCondition="" />
      <add name="MustacheAssetHandler" path="*.mustache" verb="GET"
        type="BundleTransformer.Hogan.HttpHandlers.HoganAssetHandler, BundleTransformer.Hogan"
        resourceType="File" preCondition="" />
      <add name="HandlebarsAssetHandler" path="*.handlebars" verb="GET"
        type="BundleTransformer.Handlebars.HttpHandlers.HandlebarsAssetHandler, BundleTransformer.Handlebars"
        resourceType="File" preCondition="" />
      <add name="HbsAssetHandler" path="*.hbs" verb="GET"
        type="BundleTransformer.Handlebars.HttpHandlers.HandlebarsAssetHandler, BundleTransformer.Handlebars"
        resourceType="File" preCondition="" />
      <!-- /Declaration of Bundle Transformer HTTP-handlers -->
    </handlers>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="ClearScript.V8" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
      to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    -->
  </runtime>
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
        before trusting HTTPS certificates.  But this setting tends to not 
        be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
      which is necessary for OpenID urls with unicode characters in the domain/host name.
      It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
</configuration>