<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- Declaration of Bundle Transformer configuration section group -->
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings" />
      <section name="less" type="BundleTransformer.LessLite.Configuration.LessLiteSettings" />
      <section name="sassAndScss" type="BundleTransformer.SassAndScss.Configuration.SassAndScssSettings" />
			<section name="typeScript" type="BundleTransformer.TypeScript.Configuration.TypeScriptSettings" />
      <section name="microsoftAjax" type="BundleTransformer.MicrosoftAjax.Configuration.MicrosoftAjaxSettings" />
      <section name="yui" type="BundleTransformer.Yui.Configuration.YuiSettings" />
      <section name="closure" type="BundleTransformer.Closure.Configuration.ClosureSettings" />
      <section name="uglify" type="BundleTransformer.UglifyJs.Configuration.UglifySettings" />
      <section name="packer" type="BundleTransformer.Packer.Configuration.PackerSettings" />
      <section name="csso" type="BundleTransformer.Csso.Configuration.CssoSettings" />
    </sectionGroup>
    <!-- /Declaration of Bundle Transformer configuration section group -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- Bundle Transformer configuration settings -->
  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
    <core enableTracing="true" 
      jsFilesWithMicrosoftStyleExtensions="MicrosoftAjax.js,MicrosoftMvcAjax.js, MicrosoftMvcValidation.js,knockout-$version$.js"
      useEnableOptimizationsProperty="true">
      <css defaultMinifier="MicrosoftAjaxCssMinifier" usePreMinifiedFiles="true">
        <minifiers>
          <add name="NullMinifier" 
            type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
          <add name="MicrosoftAjaxCssMinifier"
            type="BundleTransformer.MicrosoftAjax.Minifiers.MicrosoftAjaxCssMinifier, BundleTransformer.MicrosoftAjax" />
          <add name="YuiCssMinifier" 
            type="BundleTransformer.Yui.Minifiers.YuiCssMinifier, BundleTransformer.Yui" />
          <add name="KryzhanovskyCssMinifier" 
            type="BundleTransformer.Csso.Minifiers.KryzhanovskyCssMinifier, BundleTransformer.Csso" />
          <add name="WgCssMinifier" 
            type="BundleTransformer.WG.Minifiers.WgCssMinifier, BundleTransformer.WG" />
        </minifiers>
        <translators>
          <add name="NullTranslator"
            type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" 
            enabled="false" />
          <add name="LessTranslator" 
            type="BundleTransformer.LessLite.Translators.LessTranslator, BundleTransformer.LessLite"
            enabled="true" />
          <add name="SassAndScssTranslator"
            type="BundleTransformer.SassAndScss.Translators.SassAndScssTranslator, BundleTransformer.SassAndScss" 
            enabled="true" />
        </translators>
      </css>
      <js defaultMinifier="MicrosoftAjaxJsMinifier" usePreMinifiedFiles="true">
        <minifiers>
          <add name="NullMinifier"
            type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
          <add name="MicrosoftAjaxJsMinifier"
            type="BundleTransformer.MicrosoftAjax.Minifiers.MicrosoftAjaxJsMinifier, BundleTransformer.MicrosoftAjax" />
          <add name="YuiJsMinifier" 
            type="BundleTransformer.Yui.Minifiers.YuiJsMinifier, BundleTransformer.Yui" />
          <add name="ClosureRemoteJsMinifier" 
            type="BundleTransformer.Closure.Minifiers.ClosureRemoteJsMinifier, BundleTransformer.Closure" />
          <add name="ClosureLocalJsMinifier"
            type="BundleTransformer.Closure.Minifiers.ClosureLocalJsMinifier, BundleTransformer.Closure" />
          <add name="CrockfordJsMinifier"
            type="BundleTransformer.JsMin.Minifiers.CrockfordJsMinifier, BundleTransformer.JsMin" />
          <add name="UglifyJsMinifier" 
            type="BundleTransformer.UglifyJs.Minifiers.UglifyJsMinifier, BundleTransformer.UglifyJs" />
          <add name="EdwardsJsMinifier" 
            type="BundleTransformer.Packer.Minifiers.EdwardsJsMinifier, BundleTransformer.Packer" />
        </minifiers>
        <translators>
          <add name="NullTranslator"
            type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" 
            enabled="false" />
          <add name="CoffeeScriptTranslator" 
            type="BundleTransformer.CoffeeScript.Translators.CoffeeScriptTranslator, BundleTransformer.CoffeeScript" 
            enabled="true" />
					<add name="TypeScriptTranslator" 
            type="BundleTransformer.TypeScript.Translators.TypeScriptTranslator, BundleTransformer.TypeScript" 
            enabled="true" />
        </translators>
      </js>
      <assetHandler clientCacheDurationInDays="365" enableCompression="true"
        useLastModifiedHeader="true" useETagHeader="true"
        serverCacheDurationInMinutes="15" useServerCacheSlidingExpiration="false"
        disableClientCacheInDebugMode="true" disableCompressionInDebugMode="true" />
    </core>
    <less useNativeMinification="false" severity="0" />
    <sassAndScss useNativeMinification="false" />
		<typeScript useNativeMinification="false" useDefaultLib="true" 
      propagateConstants="false" errorOnWith="true"
      inferPropertiesFromThisAssignment="false" 
      codeGenTarget="EcmaScript3">
			<style bitwise="false" blockInCompoundStatement="false" 
        eqEqEq="false" forIn="false" emptyBlocks="true" 
        newMustBeUsed="false" requireSemicolons="false" 
        assignmentInConditions="false" eqNull="false" 
        evalOk="true" innerScopeDeclarationsEscape="true" 
        functionsInLoops="true" reDeclareLocal="true" 
        literalSubscript="true" implicitAny="false" />
		</typeScript>
    <microsoftAjax>
      <css allowEmbeddedAspNetBlocks="false" colorNames="Strict" commentMode="Important" 
        ignoreErrorList="" indentSize="4" minifyExpressions="true" 
        outputMode="SingleLine" blocksStartOnSameLine="NewLine" preprocessorDefineList="" 
        termSemicolons="false" severity="0" />
      <js allowEmbeddedAspNetBlocks="false" collapseToLiteral="true" 
        debugLookupList="Debug,$Debug,WAssert,Msn.Debug,Web.Debug" 
        evalTreatment="Ignore" ignoreConditionalCompilation="false" ignoreErrorList="" 
        indentSize="4" inlineSafeStrings="true" knownGlobalNamesList="" 
        localRenaming="CrunchAll" macSafariQuirks="true" minifyCode="true" 
        noAutoRenameList="$super" outputMode="SingleLine" blocksStartOnSameLine="NewLine"
        preprocessorDefineList="" preserveFunctionNames="false" 
        preserveImportantComments="true" removeFunctionExpressionNames="true" 
        removeUnneededCode="true" renamePairs="" strictMode="false" 
        stripDebugStatements="true" termSemicolons="false" severity="0"/>
    </microsoftAjax>
    <yui>
      <css compressionType="Standard" removeComments="true"
        lineBreakPosition="-1" />
      <js compressionType="Standard" obfuscateJavascript="true"
        preserveAllSemicolons="false" disableOptimizations="false"
        ignoreEval="false" severity="0" lineBreakPosition="-1"
        encoding="UTF8" threadCulture="en-us" />
    </yui>
    <closure>
      <js>
        <remote 
          closureCompilerServiceApiUrl="http://closure-compiler.appspot.com/compile" 
          compilationLevel="Simple" prettyPrint="false" excludeDefaultExterns="false" 
          severity="0" />
        <local 
          javaVirtualMachinePath="C:\Program Files (x86)\Java\jre7\bin\java.exe"
          closureCompilerApplicationPath="C:\Projects\BundleTransformer\Binaries\ClosureCompiler\compiler.jar"
          compilationLevel="Simple" prettyPrint="false" 
          languageSpec="EcmaScript3" thirdParty="true"
          processJqueryPrimitives="false" processClosurePrimitives="false"
          severity="0" />
      </js>
    </closure>
    <uglify>
      <js>
        <parser strictSemicolons="false" />
        <mangler mangle="true" topLevel="false" defines="" 
          except="" noFunctions="false" />
        <squeezer makeSequences="true" deadCode="true" unsafe="false" />
        <codeGenerator beautify="false" indentStart="0" indentLevel="4" 
          quoteKeys="false" spaceColon="false" asciiOnly="false" />
      </js>
    </uglify>
    <packer>
      <js shrinkVariables="true" base62Encode="false" />
    </packer>
    <csso>
      <css disableRestructuring="false" />
    </csso>
  </bundleTransformer>
  <!-- /Bundle Transformer configuration settings -->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-BundleTransformer.Example.Mvc-20120824153756;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpHandlers>
      <!-- Declaration of Bundle Transformer HTTP-handlers -->
      <add path="*.less" verb="GET" 
        type="BundleTransformer.LessLite.HttpHandlers.LessAssetHandler, BundleTransformer.LessLite" />
      <add path="*.sass" verb="GET" 
        type="BundleTransformer.SassAndScss.HttpHandlers.SassAndScssAssetHandler, BundleTransformer.SassAndScss" />
      <add path="*.scss" verb="GET" 
        type="BundleTransformer.SassAndScss.HttpHandlers.SassAndScssAssetHandler, BundleTransformer.SassAndScss" />
      <add path="*.coffee" verb="GET" 
        type="BundleTransformer.CoffeeScript.HttpHandlers.CoffeeScriptAssetHandler, BundleTransformer.CoffeeScript" />
			<add path="*.ts" verb="GET" 
        type="BundleTransformer.TypeScript.HttpHandlers.TypeScriptAssetHandler, BundleTransformer.TypeScript" />
      <!-- /Declaration of Bundle Transformer HTTP-handlers -->
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <!-- Declaration of Bundle Transformer HTTP-handlers -->
      <add name="LessAssetHandler" path="*.less" verb="GET" 
        type="BundleTransformer.LessLite.HttpHandlers.LessAssetHandler, BundleTransformer.LessLite" 
        resourceType="File" preCondition="" />
      <add name="SassAssetHandler" path="*.sass" verb="GET" 
        type="BundleTransformer.SassAndScss.HttpHandlers.SassAndScssAssetHandler, BundleTransformer.SassAndScss" 
        resourceType="File" preCondition="" />
      <add name="ScssAssetHandler" path="*.scss" verb="GET" 
        type="BundleTransformer.SassAndScss.HttpHandlers.SassAndScssAssetHandler, BundleTransformer.SassAndScss" 
        resourceType="File" preCondition="" />
      <add name="CoffeeScriptAssetHandler" path="*.coffee" verb="GET" 
        type="BundleTransformer.CoffeeScript.HttpHandlers.CoffeeScriptAssetHandler, BundleTransformer.CoffeeScript" 
        resourceType="File" preCondition="" />
			<add name="TypeScriptAssetHandler" path="*.ts" verb="GET" 
        type="BundleTransformer.TypeScript.HttpHandlers.TypeScriptAssetHandler, BundleTransformer.TypeScript" 
        resourceType="File" preCondition="" />
      <!-- /Declaration of Bundle Transformer HTTP-handlers -->
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>