/*! MAX TestCssComponentsPaths
* This stylesheet is used to validate the processing of relative paths 
* in the CSS-code
*
* Includes Fugue Icons 3.5.6
* http://p.yusukekamiyamane.com/
* Copyright 2013, Yusuke Kamiyamane
*/
.icons {
	margin-bottom: 1.0em;
	overflow: hidden;
}

.icon {
	float: left;
	margin: 3px;
	padding: 0;
	width: 16px;
	height: 16px;
	border: 1px dashed #5c87b2;
	background: transparent url('/Content/images/0.gif') no-repeat;
}

.icon-abacus {
	background-image: url(/AlternativeContent/images/icons/abacus.png);
}

.icon-bug {
	background-image: url('http://www.codeplex.com/Download?ProjectName=bundletransformer&DownloadId=358407');
}

.icon-cactus {
	background-image: url('~/AlternativeContent/images/icons/cactus.png');
}

.icon-disc {
	background-image: url(	 '../images/icons/disc.png'	 );
}

.icon-envelope {
	background-image: url("../../Content/images/icons/envelope.png");
}

.icon-feed {
	background-image: url(	 images/icons/feed.png 	);
}

.icon-game {
	background-image: url(./images/icons/game.png);
}

.icon-headphone {
	display: none;
}

.icon-inbox {
	background-image: url(	  "../images/icons/inbox(1).png"	  );
}

.icon-joystick {
	background-image: url(../images/icons/joystick[2].png);
}

.icon-keyboard {
	background-image: url('../images/icons/keyboard{3}.png');
}

.icon-license {
	display: none;
}

.icon-monitor {
	display: none;
}

.icon-network {
	display: none;
}

.icon-open-source {
	background-image: url(../images/icons/open_source.png);
}

.icon-plug {
	display: none;
}

.icon-question {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAz9JREFUeNpMU1toE0EUPcnuJmmT2qpt0kZqaIOmtr7A+sIX8YWCbRXtTzEqqB+CqPj4ERH11w8RFPFHKEjz0Upa/BBE8YWVxIrRok0TY03Q2KSmSZNN89pNvbOKduDszM7cc+6dO/eqOjo6oFKpoFarlZlQQ1gCwESYgz8jRYjOzMyMECYIKJVKYDOP/0NLWGOxWDZ0dnZ2NTY2LpMkSTngeR7BYHC4t7e3JxQKvaYtDyHPzrimpibmlZF3trW1HXQ4HOeGRmFyPUvi3sMUHr4SEQhlwGv0pq4DW7ZTpJzf72fkEEHmbDYbC2Vje3v7QbvdfujSnSh8kXLoKupQW2tCdXU1ciU93hPnxds4Du+zreA4TiKRCSbCy7Jsamho2LRt21bHxdtRaOeYgWwBN0/PnXU7Pa7czSAYEXD5bhSXj25xeL1efzgc9nFWq3Xt8ePHLgwOF42BaAU0Gi0SiTTi8TjcHycwmZKwyFKBYDiJrz8pm9MlqEtprF5uNrndnncsAnN9fX1Lz9MfMBiMGB+PKz4HXuaQyUxj8/I4jOURBAJJeDxTMJuN+BCQsW5vXQvjqulTlU6L+DwmQZZLyOcLiMYm8T0SQ2OdhK5dlRgNF/Hg+TRUnAZipqDYZrM5MC5PT8VEIEkyUmIOsclpkA6gEnDthEWJ5uq9cXAavbKWZniyVchgXCaQ5jgei+sppckCPXo5uL+p23P225860FX9S2cJkmILqJlAmnmPBAJffEutWqRTSZTpK8mbQTF4071KAVuzPQa5mEVLgwZjY998jMsEPjqdTteOtdWYXyZCyk1B0JKxoPvnla05gcj5NBZUZWFvnYuBAZeLcTmj0SgmEpMCXbrszFF785NXfozHknSTebj/jEP3Y4lCLSAVC6BWH8eN8y3o7+974HYPuqgAvdzfxvgxMvJJTf2hvnSqvalSl0cmPoZh71tMRX1YuTCH/fYanD/SDKezu7+vr8eVzWYfJRIJSaVcENBptdp5BoPBbrM1rzl58sLu1tb11lmliKGhN8Fbt64/Gh397BFF8Xk+n2cFk2MCLOkszfMJBkEQqqj7rNQ0NbPbmaKcoKwHi8Vikv4zhF+E5G8BBgCmR5O7x7m+vQAAAABJRU5ErkJggg==);
}

.icon-radio {
	background-image: url("DATA:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2lpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wUmlnaHRzPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvcmlnaHRzLyIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcFJpZ2h0czpNYXJrZWQ9IkZhbHNlIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkYwMzVDMTREMTFGQjExRTFBQ0E5QzM1ODJERjE3MzE0IiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkYwMzVDMTRDMTFGQjExRTFBQ0E5QzM1ODJERjE3MzE0IiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDUzMgV2luZG93cyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ1dWlkOkFDMUYyRTgzMzI0QURGMTFBQUI4QzUzOTBEODVCNUIzIiBzdFJlZjpkb2N1bWVudElEPSJ1dWlkOkM5RDM0OTY2NEEzQ0REMTFCMDhBQkJCQ0ZGMTcyMTU2Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+OUg7UQAAAhJJREFUeNqkUzuLWkEYPfd6jYYQ2fiAWGx2NQaLLQLLpsmmEMG1U/DRiXaprGz8BRb+AQsRLEUlYOUiV4IoMRi0sdN1QbA0WRWLXPGVb4ZVJE0MO3DuYS5zzveYb4TtdounLCkYDEIQhKMF4/EYtVrts8PhSBuNRkj07xnhimAjPP+XgclkYrQl/kjZt6XNZvPB7XaHXS6XX6PRGI7JIplM/pJl+UulUhGk9Xr9zul0+rPZrGEwGEClUkGtVnMWRZELKAhWqxUHnYfNZjOEw2F/uVz+LtLPFyQw9Ho95HI5LBYLkBluSJxOpzGZTJDJZOD1epFIJODxeNDv91kQA9NK9GEmPFI8HofVauUIHuzZstvtSKVSiEQiKJVKu4xE8dCAakO1WuVcpMi7fbFYRLPZhM/nQ6PR4Gd3BtJyudwbhEIhUCMRjUbRImYZsDmJxWJot9uo1+u8BzsDpt0bsFTZvdKN4O6uh+vrT+h2u7i8vEKr9QMXF+/J4BvOzmy4va3sDcTDDPR6PTqdDk5P33C2WKycz88tnM1mM+e/M1Dm8/mEBuPVcDjkJTw8/CTWYjQaUQkCdf2ebmcFRRlwNplOwDRMK02n034+n5cDgcCNTqc7kSSJzwADG3EG1gdW+w6z2WxaKBRkphXo4GutVuukoXl7zCg/rt80XPeKonwVHkUv2cP6z4fIGjcXnvqc/wgwAA4/K4U8PuM/AAAAAElFTkSuQmCC");
}

.icon-scanner {
	background-image: url('Data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAkxJREFUeNqck89rE0EUx787WWJ+bdyDQWxLxUYEQVKEUksJJNRcqihegye1F8klCg0exLSIJa1NEKUUPXjwFEJu+RsqERQNnkSIoEG8xLQb6u4mm6xvJonGIEJ98Bjm8fYzb77fWQn9iEQiCAQCgy0kSbpEyxjlG8uyXlOi3W7jg/sjPgU+A8/aos8xMzODUCgERVHQ7XaH83yxWNzO5/NveSPtv/K6/4eC8W/H4PV6YRgGmKqq6HQ60HUdrVZrOBk/MZfLbdPps7Ztz2IofD4fgsEg2KDA6fwD0zQH6TBNA3t7u9jcfLjVh5zDSDD8JfholHJ/RaPRwPp65gkdMEeQuX8CGGNwOp38Wq8WFy+kJibG6TqmmCSTWXtEkHmCzP8SOxaLnaQ1TOkfhZEOjnq97iqVSmvValXU3G4XkslbKYK8JNiOFI1Gr+Vy2WWy8PSIiKSJBQKgUqkgHo/jN8SNRCJxhyA7Ujgcvl0oFLLNpoarz9+j4/RDeE4Ai9yh94CjHhuT2jvcT974A7K0dP2uTM0SkUTRdqk4Oz0tLNX392GQGxa5I5Mmpj2Gla0XWEn0ILpucacYIwBbNVYFQHXaqNVqQvUWWSrLMrweDxR6NK7ACbDQFdx7/BRTU6eoWxYa8QlY2pWGpmnIXgwQ2QD3v6dBm9zovUw+ZVex8f3McWxspJFKPegB+INR1cP0HxwRdx8VkX9MZvUdd4hcWLgsagJA4x7StCbK5bI48SBB/UwiNW/S45nEfwRN8IXP5uT6CVUOFhbl7k8BBgCUbm8tHOkA6QAAAABJRU5ErkJggg==');
}