@charset "UTF-8";

@captionText: `"less".toUpperCase()`;
@border-color: #143352;

.translators #less
{
	border-color: @border-color;
}

.icon-network
{
	display: inline;
	background-image: data-uri('image/png;base64', "@network.png");
}

.icon-webcam
{
	display: inline;
	background-image: data-uri("../webcam.jpg#fragment");
}

@import url("../TagIcon.css");
@import (css) "../UsbFlashDriveIcon";
@import (less) "../ValidationIcon.css";
@import "../YahooIcon.less";
@import (inline) "../MicroformatsIcon.css";
@import (inline, css) "../NodeIcon.less" screen and (color), projection and (color);
@import (optional) "../PrinterIcon.less";
@import (optional) "../NonExistentIcon.less";

.icon-xfn
{
	display: inline;
	background-image: data-uri("../../xfn.png");
}