@border-color: #143352;

.translators #less
{
	border-color: @border-color;
}

.icon-network
{
	display: inline;
	background-image: data-uri("image/png;base64", "@network.png");
}

@import url("../TagIcon.css");
@import (css) "../UsbFlashDriveIcon";
@import (less) "../ValidationIcon.css";